---
---

<div class="flex overflow-x-auto gap-6 px-6 py-4 bg-white">
  <img src="/images/insurance1.png" alt="Insurance 1" class="h-12 object-contain" />
  <img src="/images/insurance2.png" alt="Insurance 2" class="h-12 object-contain" />
  <img src="/images/insurance3.png" alt="Insurance 3" class="h-12 object-contain" />
  <img src="/images/insurance4.png" alt="Insurance 4" class="h-12 object-contain" />
</div>
